/*--------Common-Styles-------*/
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding:0;
    max-width:100%;
    height: auto;
}

html{
    font-size: 10px;
}

body {
    background: hsl(0, 0%, 100%);
    overflow-x: hidden!important;
    font-family: 'Montserrat', sans-serif;
    transition: background-color .5s;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px; 
}
::-webkit-scrollbar-thumb {
  background: 0 0;
  background-color: rgba(77, 82, 86, 0.25);
  border: 2px solid transparent;
  border-radius: 10px;
  background-clip: padding-box; 
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(77, 82, 86, 0.5); 
}
::-webkit-scrollbar-track {
  background-color: rgba(77, 82, 86, 0.05); 
}
/*--------Common-Styles-------*/
/*--------Preloader-Styles-------*/
#loading {
    background: #fff url('../images/preloader.gif') no-repeat center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
  }

/*--------Header-Styles-------*/
.top-bar {
    height: 4rem;
}

.three-icon {
    margin-left: -10rem;
    padding: 0;
    list-style: none;
    text-align: right;
    display: block;
    width: 100%;
}

.three-icon li {
    display: inline-block;
    margin-right: 1rem;
    text-align: left;
    line-height: 0.5rem;
}

.three-icon li a {
    font-size: 1.5rem;
    color: #6a6a6a;
    text-decoration: none;
    font-size: 1.2rem;
}

.three-icon i {
    background-color: #1a9bdc;
    border-radius: 50%;
    padding: 1rem;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.three-icon i:hover{
    background-color: #34b59d;
    transform: scale(0.8);
}

#span-1,
#span-2 {
    margin-left: 4rem;
}

#span-3 {
    margin-left: 3.7rem;
}

.nav-bar {
    height: 10rem;
}

.nav-bar ul {
    list-style: none;
    display: block;
    margin: 0;
}

.nav-bar ul li {
    display: inline-block;
    font-size: 2rem!important;
    padding: 0 0.9rem;
}

.navbar-nav li:not(:last-child){
    padding-right: 2rem;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #6c6c6c;
}

.nav-bar ul li a:hover {
    color: #34b59d;
}

.nav-menu>ul>li>.active>a{
    color: #34b59d;
}

nav {
    margin-top: 3rem;
}

.nav-menu{
    display: none;
}

@media screen and (min-width: 992px){
    .nav-menu{
        display: inline-block;
    }}

.social ul {
    text-decoration: none;
    display: block;
    margin: 0;
    margin-top: 3rem;
}

.social ul li {
    display: inline-block;
    font-size: 1.5rem;
}

.social ul li a {
    color: #000;
    font-weight: 700;
    font-size: 2rem;
}

.social ul li i {
    transition: all 0.3s ease-in-out;
}

.social ul li i:hover {
    color: #34b59d;
    transform: scale(0.8);
}
/*--------Header-Styles-------*/

/*--------sticky-Styles-------*/
#myHeader{
    background-color: #FFF;
    z-index:9999;
    height:14rem;
    top:0;
    position: sticky;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .page-wrapper {
    padding-top: 102px;
  }

/*--------off-canvas-Styles-------*/
.off{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10rem;
}
.off span{
    margin-left:2rem;
    margin-top: 5rem;
}
.logo-canvas{
    margin-bottom: 3rem;
    background-color: #fff;
    padding:1rem 2.5rem;
    border-radius:5rem;
    border: none;
    transition: all 0.3s ease-in-out;
}
.logo-canvas:hover{
    transform: scale(0.8);
}
.sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: -3rem;
    padding-bottom:3rem;
    display: flex;
    align-items: center;
  }

  .sidenav a {
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    text-decoration: none;
    font-size:3.5rem;
    color: #818181;
    display: block;
    transition: all 0.3s ease-in-out;
  }

  .sidenav a:hover {
    color: #34b59d;
    transform: scale(0.8);
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 2.5rem;
    font-size: 5rem;
    margin-left: 5rem;
    color: #fff;
  }
  .off-brands{
    width:10%;
    margin-left:2rem;
  }
  .off{
    width:100%;
    margin-right:8rem;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 1.5rem;}
    .sidenav a {font-size: 1.8rem;}
  }
  @media screen and (max-width: 576px){
    .sidenav a {font-size: 1.8rem;}
  }
  #ham{
      display: none;
  }
  @media screen and (max-width: 991px){
  #ham{
      display: inline-block;
      transition: all 0.3s ease-in-out;
  }
  #ham:hover{
    color: #34b59d;
    transform: scale(0.8);
  }
  .bars{
    margin-top: 3rem;
  }
}
/*--------Content-Styles-------*/


/*--------Sec-1-Start-------*/

.sec-1{
    background-image: url('../images/banner-hero-alt.png');
    width: 100%!important;
    height: 65rem;
    background-repeat: no-repeat;
    max-width:100%;
    background-size: 100% 100%;

}
.hero {
    margin: 0;
    padding: 0;
    outline: none;
}
.h-row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63rem;
}
.top-line{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.top-line h1 {
    text-align: center;
    font-weight: 700;
    color: #474747;
    margin-bottom:2rem;
    font-size: 4.8rem;
    line-height: 1.2;
}
.top-line p {
    text-align: center;
    margin-top: 2rem;
}

.top-line button {
    background-color: #0087be!important;
    border: 1px solid #0087be!important;
    border-radius: 5rem!important;
    width: 15rem;
    height: 4rem;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    margin-top: 2rem;
    box-shadow: 0 0.7rem 0.7rem -0.2rem gray;
    outline:none;
}

.top-line button:hover{
    transform: scale(0.8);
    background-image: linear-gradient(to right, #3fb6c6, #37c3a8)!important;
    border: 0.1rem solid #34b59d!important;
outline:none;
}
.top-line button:focus{
    background-image: linear-gradient(to right, #3fb6c6, #37c3a8)!important;
    border: 0.1rem solid #000!important;
    outline:none;
}
.top-line button a{
    text-decoration: none;
    color:#fff;
}

/*--------Sec-1-End-------*/


/*--------Sec-2-Start-------*/

.sec-2 {
    background-image: linear-gradient(to right, #3fb6c6, #37c3a8);
}

.img {
    background-color: #fff;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
}

.serv {
    margin-top: -2rem;
}

.serv .row {
    text-align: center;
    display: flex;
    justify-content: center;
}

.serv .img {
    transition: all 0.3s ease-in-out;
}

.serv .img:hover {
    transform: scale(0.8);
    background-image: linear-gradient(to right, #3fb6c6, #37c3a8);
    border: 1px solid #000;
}

.serv .img img {
    margin-top: 1rem;
}

.serv {
    color: #fff;
}

/*--------Sec-2-End-------*/


/*--------Sec-3-Start-------*/

.img-1 {
    background-color: #1a9bdc;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    transition: all 0.3s ease-in-out;
    margin-left: 0rem;
}
.img-1:hover{
    transform: scale(0.8);
    background-image: linear-gradient(to right, #3fb6c6, #37c3a8);
    border: 0.1rem solid #000;
}
.img-1 img{
    margin-top: 1rem;
    margin-left: 1.3rem;
}
.choose h3{
    color: #494949;
}
.choose p{
    margin-top:4rem;
    margin-bottom: 3rem;
}
.choose{
    margin-top: 2rem;
}
.top-head{
    text-align: center;
}
.top-head{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.top-head h1{
    font-size: 4.5rem;
    color:#494949;
}
.top-head p{
    margin-top:3rem;
}
/*--------Sec-3-End-------*/
/*--------Sec-4-Start-------*/

.back {
    margin: 0;
    padding: 0;
    outline: none;
    background-image: url('../images/bg.png');
    width:100%;
    height: 47rem;
    background-repeat:no-repeat;
    background-size:100% 100%;

}
.back .row{
    margin-left:0;
}
.sec-4 .all{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-2 {
    width: 7rem;
    height: 7rem;
    transition: all 0.3s ease-in-out;
}
.img-2:hover{
    transform: scale(0.8);
}
.stats{
    text-align:center;
    color: #fff;
    margin-top:13.5rem;

}
hr{
    border:none;
    background-color: #fff;
    height:0.4rem;
    width:20%;

}

/*--------Sec-4-End-------*/
/*--------Sec-5-Start-------*/
.sec-5{
    height: 79rem;
}
.first h3{
font-size: 4.5rem;
color:#494949;
}
.first p{
    margin-top: 2rem;
    margin-bottom: 4rem;
}
#date{
    color: #0087be;
    font-size:1.6rem;
    margin-top:-3rem;
}
#para{
    margin-top:-3rem;
    color:#6f6f6e;
}
.work-1 p{
    color:#6a6a6a;
}
.work-2 h3{
    font-size: 4.5rem;
    color:#494949;
}
#para-2{
    color:#6f6f6e;
}
.but{
    left: 27rem;
}
.but button {
    background-color: #0087be!important;
    border: 1px solid #0087be!important;
    border-radius: 5rem!important;
    width: 15rem;
    height: 4rem;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    font-size: 1.6rem;
   box-shadow: 0 0.7rem 0.7rem -0.2rem gray;
}

.but button:hover {
    transform: scale(0.8);
    background-image: linear-gradient(to right, #3fb6c6, #37c3a8);
    border: 0.1rem solid #34b59d!important;
}
.but button:focus {
    background-image: linear-gradient(to right, #3fb6c6, #37c3a8);
    border: 0.1rem solid #000!important;
    outline:none;
}
.but button a{
    text-decoration: none;
    color:#fff;
}
.work-2 button {
    background-color: #e2e2e2;
    border: 1px solid #e2e2e2!important;
    border-radius: 5rem!important;
    width: 35rem;
    height: 4rem;
    padding: 0.8rem 1rem;
    padding-left:0rem;
    transition: all 0.3s ease-in-out;
    display: block;
    margin-bottom:20px;
    position: relative;
}

.work-2 button:hover {
    transform: scale(0.8);
    background-image: linear-gradient(to right, #3fb6c6, #37c3a8);
    border: 0.1rem solid #34b59d!important;
    outline: none;
}
.work-2 button:focus {
    background-image: linear-gradient(to right, #3fb6c6, #37c3a8);
    border: 0.1rem solid #000!important;
    outline: none;
    color:#fff;
}
.work-2 button i{
    color:#0087be;
    background-color: #fff;
    padding: 1rem;
    border-radius: 50%;
    margin-top: -1.2rem;
    position: absolute;
    left: 6px;
    top: 15px;
}
.work-2 i.fas.fa-caret-right{
    font-size: 1.1rem;
}

/*--------Sec-5-End-------*/
/*--------Sec-6-Start-------*/
.sec-6{
    height:80rem;
    background-image: url('../images/bg-2.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.sec-6 .container{
    display: flex;
    justify-content: center;
}

.gal h1{
    font-size: 4.5rem;
    color:#fff;
    text-align: center;
    margin-bottom:3rem;
}
.gal p{
    text-align: center;
    color: #fff;
    margin-bottom:4rem;
}
.sec-6 img{
    transition: all 0.3s ease-in-out;
}
.sec-6 img:hover{
    transform: scale(0.8);
}
.gal-2{
    margin-top:30rem;
}
/*--------Sec-6-End-------*/
/*--------Sec-7-Start-------*/
.sec-7{
    height: 80rem;
    background-color: #fff;
}

.sec-7 .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.team{
    margin-bottom: 5rem;
}
.t-img img{
    transition: all 0.3s ease-in-out;
}
.t-img img:hover{
    transform: scale(0.8);
}
.team h1{
    font-size: 4.5rem;
    color:#494949;
    text-align: center;
    margin-bottom:3rem;
}
.team p{
    color:#6a6a6a;
    text-align: center;
}
.team-1 h3{
    font-size: 2.5rem;
    color:#6f6f6e;
    text-align: center;
}
.team-1 p{
    font-size:1.8rem;
    color:#6f6f6e;
    text-align: center;
}
.t-icon ul {
    text-decoration: none;
    display: block;
    margin: 0;
    margin-top: 3rem;
    text-align: center;
}

.t-icon ul li {
    display: inline-block;
    font-size: 1.5rem;
    margin-right:1.5rem;

}

.t-icon ul li a {
    color: #0087be;
    font-weight: 700;
    font-size: 2rem;
}

.t-icon ul li i {
    font-size: 2.5rem;
    transition: all 0.3s ease-in-out;
}

.t-icon ul li i:hover {
    color: #34b59d;
    transform: scale(0.8);
}
/*--------Sec-7-End-------*/
/*--------Sec-8-Start-------*/
.sec-8{
    height: 170px;
    background-color:#e2e2e2;
}
.sec-8 .row{
    display:flex;
    justify-content: center;
    margin-top: 5.5rem;
}
.sec-8 h1{
    font-size:2.5rem;
    display: inline-block;
}
.sec-8 button{
    background-color: #0087be!important;
    border: 1px solid #0087be!important;
    border-radius: 5rem!important;
    width: 15rem;
    height: 4rem;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    font-size: 1.6rem;
    box-shadow: 0 0.7rem 0.7rem -0.2rem gray;
    margin-left:7rem;
    margin-top:-1.5rem;
    }

.sec-8 button:hover {
    transform: scale(0.8);
    background-image: linear-gradient(to right, #3fb6c6, #37c3a8);
    border: 0.1rem solid #34b59d!important;
    }
.sec-8 button:focus{
    background-image: linear-gradient(to right, #3fb6c6, #37c3a8);
    border: 0.1rem solid #000!important;
    outline: none;
    }
.sec-8 button a{
    text-decoration: none;
    color:#fff;
}
/*--------Sec-8-End-------*/
/*--------Content-Styles-------*/


/*--------Footer-Styles-------*/

.footer-top {
    width: 100%;
    height: 45rem;
    background-color: #171717;
}

footer ul {
    list-style: none;
    display: block;
}

footer ul li a {
    text-decoration: none;
    color: #525252;
    font-size: 1.5rem;
}

footer ul li a:hover,
:active,
 :focus,
 :visited {
    text-decoration: none;
}

footer ul li a:hover {
    color: #34b59d;
}
footer ul li a:focus {
    text-decoration: none;
    color: #525252;
}

.footer-bottom {
    width: 100%;
    height: 8rem;
    background-color: #1a1a1a;
}

.footer-bottom p {
    color: #615555;
    text-align: center;
    margin-top: 3rem;
}

footer h3 {
    color: #ffffff;
    margin-bottom: 5rem;
}

.git ul li i {
    font-size: 4rem!important;
}

.git ul li span {
    font-size: 2rem;
}

.git ul li {
    line-height: 6rem;
}

.git span {
    font-size: 2rem;
}

.git span i {
    color: #fff;
    margin-right: 1rem;
    transition: all 0.3s ease-in-out;
}

.git span i:hover {
    color: #34b59d;
    transform: scale(0.8);
}

.ql,
.os {
    line-height: 4rem;
}

.ql>ul>li>i {
    font-size: 2rem;
}

.os>ul>li>i {
    font-size: 2rem;
}
 .foot i.fas.fa-caret-right:hover{
    transform: translate(0.8rem, 0rem);
}

i.fas.fa-caret-right {
    color: #0087be;
    font-size: 2rem;
}

form {
    line-height: 4rem;
}

form>input {
    margin-bottom: 1rem;
}

form>input,
textarea {
    width: 30rem;
    background: none;
    border: none;
    border-bottom: 0.1rem solid #5f5f5f;
    color: #fff;
}

form>input:focus-visible {
    outline: none;
    border: none;
    border-bottom: 0.1rem solid #5f5f5f;
}

form>textarea:focus-visible {
    outline: none;
    border: none;
    border-bottom: 0.1rem solid #5f5f5f;
}

form>button {
    background-color: #0087be!important;
    border: 0.1rem solid #0087be!important;
    border-radius: 5rem!important;
    width: 15rem;
    height: 4rem;
    margin-top:1rem;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}

form>button:hover {
    transform: scale(0.8);
    background-image: linear-gradient(to right, #3fb6c6, #37c3a8);
}
form>button:focus {
    background-image: linear-gradient(to right, #3fb6c6, #37c3a8);
}

#scroll-btn {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    z-index: 99;
    border: 0.1rem solid #000;
    outline: none;
    background-image: linear-gradient(to right, #3fb6c6, #37c3a8);
    cursor: pointer;
    padding: 1rem;
    border-radius: 50%;
    font-size: 1.6rem;
    width:4rem;
    height:4rem;
  }

  #scroll-btn:hover {
    transform: scale(0.8);
    background-image: linear-gradient(to right, #3fb6c6, #37c3a8);
    border: 0.1rem solid #000;
  }

  i.fas.fa-caret-up{
    color: #000;
    font-weight: bold;
  }
/*--------Footer-Styles-------*/
/*--------Responsive-Styles-------*/
@media screen and (max-width:320px){
       .top-line button{
        width: 8rem;
    }

   }
@media screen and (max-width:375px){
     .sec-1{
        background-repeat: initial;
        background-size: 100% 94%;
     }
    .top-line button{
        width: 9rem;
    }
   }

@media screen and (max-width:766px){
    .three-icon{
        display: none;
    }
    .nav-bar{
      width:100%;
    }

    .sec-1{
        height: 30rem;
    }
    .h-row{
        height: 28rem;
    }
    .top-line{
        margin-top:3rem;
    }
    .top-line h1{
        font-size: 2rem;
        margin:0;
    }
    .top-line p{
        font-size: 1rem;
    }
    .top-line button{
        width: 9rem;
        height: 3rem;
        font-size: 1rem;
        padding:0;
        margin-left:0;
        margin-top:1rem;
        outline:none;
    }
    .serv .row{
        margin-left:0;
        flex-direction: column;
    }
    .serv .col-12{
        margin-bottom:4rem;
    }
    .serv .col-12:last-child{
        margin-bottom: 0;
    }
    .top-head{
        margin-bottom:-2.5rem;
    }
    .top-head h1{
        font-size:3.5rem;
        margin-top:4rem;
        margin-bottom:2.5rem;
    }
    .sec-3{
        padding-bottom:11rem;
    }
    .sec-3 .row{
        display: flex;
        flex-direction: column;
        margin:0 2rem;
    }
    .sec-3 .col-12{
        margin-bottom:-4rem;
    }
    .sec-3 .lady{
        margin-top:1rem!important;
        order: -1;
    }
    #mt{
      margin-top:9rem!important;
    }
    .sec-4 .back{
        height: 100%;
        padding-bottom:2rem;
    }
   .stats{
    margin-top:5rem!important;
   }
   .sec-4 .all{
    flex-direction: column;
    justify-content: center;
   }
   .sec-4 #mb{
    margin-bottom:2rem;
   }
   .sec-4 hr{
    width:5rem;
   }
  .sec-5{
    height:100%;
  }
  .sec-5 .row{
    margin-top:3rem!important;
    margin-bottom:2rem;
  }
  .work-1 h3{
    font-size:4rem;
    margin-bottom:2rem;
  }
  .but{
    left:0;
  }
  .but button{
    width:12rem;
    height:4rem;
    font-size:1.4rem;
  }
  .work-2{
    margin-top:3rem;
    margin-bottom:3rem;
  }
  .work-2 h3{
    font-size:4rem;
  }
  .sec-6{
    height:100%;
  }
  .sec-6 .col-12{
    margin-bottom:4rem;
  }
  .sec-6 .gal-2{
    margin-left:0.2rem;
    margin-top:0;
    margin-bottom:3rem;
  }
  .sec-7{
    height:100%;
  }
  .sec-7 .row{
    margin-top:5rem;
    margin-bottom:3rem;
    margin-left:0;
  }
  .sec-7 .t-icon{
    margin-left:2.2rem;
  }
  .sec-7 .team-1{
    margin-bottom:5rem;
  }
  .sec-8{
    height:100%;
  }
  .sec-8 .row{
    margin-top:1rem;
    margin-bottom:3rem;
    margin-left:0!important;
  }
  .sec-8 .col-12{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
 .sec-8 h1{
    margin-bottom:4rem;
    text-align:center;
 }
 .sec-8 button{
    width:12rem;
    height:4rem;
    font-size:1.4rem;
    margin-left:0;
 }

.footer-top{
        height: 100%;
    }
    .footer-top .col-12:last-child{
        margin-bottom:3rem;
    }
    form>button{
        width:12rem;
    }

}
@media screen and (min-width:767px) and (max-width:991px) {
    .three-icon{
        margin-left:0;
    }
    .three-icon li a{
        font-size:1rem;
    }
    .social ul{
        margin-left:3rem;
    }
    .logo-canvas{
        width:20%;
    }
    .sidenav a{
        font-size: 2.5rem!important;
    }
    .top-line h1{
        font-size:3rem;
        margin-bottom:0;
    }
    .sec-1 .top-line button{
        width:12rem;
        height:4rem;
        font-size:1.4rem;
        margin-left:0;
    }
    .sec-2 .serv .img{
        margin-left:12.5rem;
    }
    .serv .col-sm-6{
        margin-top:3rem;
    }
    .serv .row{
        margin-bottom:5rem;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .top-head{
        margin-top:5rem;
        margin-bottom:-2rem!important;
    }
    .top-head h1{
        font-size:3.5rem;
        margin-bottom:3rem;
    }
    .sec-3 .lady{
        height:100%;
    }
    .lady img{
        height:55rem;
    }
    .back{
        height:100%;
    }
    .sec-4 .all{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
       }
    .stats{
        margin-top:3rem;
    }
    .back{
        padding-top:5rem;
        padding-bottom:6rem;
    }
    .sec-5{
        height:100%;
    }
    .work-1 h3{
        font-size:3.5rem;
    }
    .work-1 p:nth-child(1){
        text-align: center;
    }
    .work-2 h3{
        font-size:3.5rem;
    }
    .work-2 #mb{
        margin-bottom:3rem;
    }
    .first .row{
        margin-top:3rem!important;
    }
    .but{
        margin-left: 21rem;
        top: -10.5rem;
    }
    .sec-6{
        height:100%;
    }
    .gal-2{
        margin-top:0;
    }
   #gallery .row .col-12{
    margin-bottom:3rem;
   }
   .sec-7{
    height:100%;
   }
  #team .row{
    margin-top:3rem!important;
    margin-bottom:3rem;

  }
  .team-1{
    display:grid;
    margin-bottom:4rem;
  }
  .t-icon{
    display: grid;
  }
  .sec-8 .row{
    margin-top:3rem;
    margin-left:0;
    padding:1rem;
  }
  .sec-8 div{
    display: flex;
    align-items: center;
  }
  .sec-8 button{
    margin-left:0;
  }
  .footer-top{
    height:100%;
  }
  .foot .row{
    margin-bottom:2rem;
  }
  form>button{
    width:13rem;
  }

}
@media screen and (min-width:992px) and (max-width:1250px){
    .top-line h1{
        margin-bottom:1rem;
        font-size: 3.8rem;
        line-height: 1.3;
    }
    .top-line button{
        margin-left:0;
    }
    .lady{
        margin-top:-50rem!important;
    }
    .but{
        left: 21rem;
    }
    .sec-6{
        height:100%;
    }
    .sec-6 .row{
        margin-bottom:7rem!important;
    }
    .gal-2{
        margin-top:25rem;
    }
}
/*--------Responsive-Styles-------*/